.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 26px;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;
  @media (min-width: 400px) and (max-width: 450px) {
    gap: 10px;
    padding: 0 15px 0 0;
  }
}

.logo {
  font-weight: 500;
  transition:
    transform 0.5s ease,
    background-color 0.4s ease,
    box-shadow 0.4s ease;

  &:hover {
    transform: scale(1.1);
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
}

a {
  // text-decoration: none;
  color: inherit;
}

.links {
  display: flex;
  align-items: center;
  gap: 19px;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 28px;
}

.button {
  border-radius: 5px;
  padding: 6px 18px 10px 18px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.signIn {
  @extend .button;
  &:hover {
    border-color: #00aeff;
    color: #ffffff;
    background-color: #00aeff;
  }
}

.signUp {
  @extend .button;
  border: 1px solid #52c41a;
  color: #52c41a;
  &:hover {
    border-color: #52c41a;
    color: #ffffff;
    background-color: #52c41a;
  }
}

.createArticle {
  @extend .button;
  border: 1px solid #52c41a;
  color: #52c41a;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding: 6px 10px 5px 10px;
  &:hover {
    background-color: #52c41a;
    color: #fff;
  }
}

.logout {
  @extend .button;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.75);
  &:hover {
    border-color: #f5222d;
    color: #ffffff;
    background-color: #f5222d;
  }
}

.img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 15px 3px rgba(0, 166, 244, 0.7);
    transform: scale(1.2);
  }
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.profileUserName {
  transition:
    color 0.5s ease,
    text-decoration-line 0.3s ease;
  &:hover {
    text-decoration-line: underline;
    color: rgb(5, 5, 5);
  }
}
